---
---
@import "{{ site.theme }}";

body {
    color: white;
    background-color: #111;
}

.markdown-body .highlight pre, .markdown-body pre {
    background-color: #222;
}

.markdown-body .highlight div, .highlight div {
    background-color: #222;
}

.highlight .o {
    color: #888;
}

.highlight .nn {
    color: #aaa;
}

.highlight .nf {
    color: #c44;
}

a {
    color: #19f;
}